.input {
  --border-color: var(--color-primary);
  --original-color: var(--color-primary);

  --color-border-hover: var(--color-primary);

  /* --base-shadow: 0 0 0 0px var(--border-color); */
  --hover-effect: inset 0 0 0 0px var(--border-color);
  --box-shadow: var(--base-shadow), var(--hover-effect);

  background-color: var(--color-bg);
  color: var(--color-text);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 8px;
  backdrop-filter: var(--blur-filter);
  box-shadow: var(--box-shadow);
}

.input.success,
.input.success:focus-visible {
  --border-color: var(--color-success);
  --original-color: var(--color-success);
}

.input.warning,
.input.warning:focus-visible {
  --border-color: var(--color-warning);
  --original-color: var(--color-warning);
}

.input.danger,
.input.danger:focus-visible {
  --border-color: var(--color-danger);
  --original-color: var(--color-danger);
}

.input:hover {
  /* --border-color: color-mix(in oklab, var(--original-color) 85%, black 15%); */
  --hover-effect: inset 0 0 0 1px var(--border-color);
  translate: all 0.1s;
}

.input:focus-visible {
  outline: none;
  /* outline-color: var(--border-color); */
  --border-color: var(--color-primary);
  --original-color: var(--border-color);
  --hover-effect: inset 0 0 0 1px var(--border-color);
}
