@font-face {
  font-family: "Anta-Regular";
  src: url(/fonts/Anta-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "DMMono";
  src: url(/fonts/DM_Mono/DMMono-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "DMMono";
  src: url(/fonts/DM_Mono/DMMono-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DMMono";
  src: url(/fonts/DM_Mono/DMMono-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "DMMono";
  src: url(/fonts/DM_Mono/DMMono-MediumItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "DMMono";
  src: url(/fonts/DM_Mono/DMMono-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: lighter;
}

@font-face {
  font-family: "DMMono";
  src: url(/fonts/DM_Mono/DMMono-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: lighter;
}

@font-face {
  font-family: "RobotoMono";
  src: url(/fonts/Roboto_Mono/RobotoMono-Italic.woff2) format("woff"),
    url(/fonts/Roboto_Mono/RobotoMono-Italic.woff2) format("woff2"),
    url(/fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght)
      format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "RobotoMono";
  src: url(/fonts/Roboto_Mono/RobotoMono-Regular.woff2) format("woff"),
    url(/fonts/Roboto_Mono/RobotoMono-Regular.woff2) format("woff2");
    // url(/fonts/Roboto_Mono/RobotoMono-VariableFont_wght) format("truetype");
  font-style: normal;
}
