// @import url(./font.scss);
@import url(./_glass.scss);

:root {
  --color-primary: rgb(167 139 250);
  --color-secondary: rgb(136, 136, 136);
  /* --color-primary: hsla(0, 82%, 30%, 0.5); */

  --line: hsl(0 0% 5% / 0.25);
  --color-border: hsla(0, 0%, 67%, 0.5);
  --color-border-dark: hsla(0, 0%, 53%, 0.5);

  --color-warning: rgb(255, 177, 89);
  --color-success: rgb(59, 179, 70);
  --color-danger: rgb(249, 57, 32);

  --title-1-size: 2.5rem;
  --title-2-size: 2rem;
  --title-3-size: 1.75rem;

  --transition-duration: 0.2s;

  /* @apply dark:(text-white  border-[var(--color-border-dark)]); */
}

/* *:not(svg):not(svg *) {
  @apply text-gray-700 border-[var(--color-border)];
  font-family: "DMMono", monospace;
}

.dark *:not(svg):not(svg *) {
  @apply text-white  border-[var(--color-border-dark)];
} */

body {
  @apply text-gray-700 border-[var(--color-border)];
  // font-family: "RobotoMono", monospace;
  font-weight: 400;

  @apply hscreen wfull;

  &[data-theme="dark"] {
    @apply text-white  border-[var(--color-border-dark)];
  }
}

.link {
  @apply transition-colors duration-300 ease-in-out;
  @apply hover:(text-[var(--color-primary)] underline);
  transition: color var(--transition-duration) ease,
    text-decoration-line var(--transition-duration) ease;
}

.glass {
  @apply backdrop-blur-sm border border-solid border-[var(--color-border)] dark:border-[var(--color-border-dark)] bg-white bg-opacity-5;

  /* transition: border-color 0.2s ease, color 0.2s ease; */
}

.content {
  @apply container mx-auto mt-40;
}

#brand,
.brand {
  font-family: "Anta-Regular";
  /* @apply text-6xl; */
  color: var(--color-primary);
}

footer {
  @apply backdrop-blur-sm border border-solid border-t-1 border-t-[var(--color-border)] border-l-0 border-r-0 border-b-0 bg-white bg-opacity-5;
  @apply dark:(bg-black bg-opacity-5 border-t-[var(--color-border-dark)]);

  @apply text-[var(--secondary-color)] text-sm;
  /* transition: border-color 0.2s ease, color 0.2s ease; */
}

.v-enter-active,
.v-leave-active {
  transition: opacity var(--transition-duration) ease-in-out,
    filter var(--transition-duration) ease-in-out;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  filter: blur(100px);
}

.v-enter-to,
.v-leave-from {
  opacity: 1;
  filter: blur(0);
}
