---
import Button from "../lib/components/Button";
import SolidLogo from "../components/SolidLogo";
// import "../lib/index";
---

<html>
  <head>
    <meta charset="utf-8" />
    <script src="../../dist/nordstjerna.umd.js"></script>
  </head>
  <body>
    <h1>Teste</h1>
    <Button />
    <ns-button></ns-button>
    <SolidLogo class:list={["w6 h6"]} />
    <p>ø</p>
  </body>
</html>
