.ns-border {
  --border-color: var(--color-border);

  [data-theme="dark"] & {
    --border-color: var(--color-border-dark);
  }

  border: 1px solid var(--border-color);
  --hover-color: var(--color-primary);
  --hover-duration: 0.2s;

  transition: box-shadow var(--hover-duration) ease,
    border-color var(--hover-duration) ease, filter var(--hover-duration) ease,
    background-color var(--hover-duration) ease;

  &:hover {
    --border-shadow: inset 0 0 0 1px var(--hover-color);
    border-color: var(--hover-color);
  }

  &.disabled {
    --hover-color: var(--border-color);
    --border-shadow: none;
  }

  &.success {
    --hover-color: var(--color-success);
  }

  &.warning {
    --hover-color: var(--color-warning);
  }

  &.danger {
    --hover-color: var(--color-danger);
  }
}
