@mixin border_hover($color) {
  &:hover {
    border-color: var(#{$color});
    box-shadow: inset 0 0 0 1px var(#{$color}), var(--un-shadow);
    // shadow_level("high");
  }

  $duration: 0.2s;

  transition: box-shadow $duration ease, border-color $duration ease,
    filter $duration ease, background-color $duration ease;
}

.button {
}

.button .success {
}
