.body {
  color: var(--color-text);
  background-color: var(--color-bg);
  border-color: var(--color-border);

  &[data-theme="dark"] {
    color: var(--color-text-dark);
    background-color: var(--color-bg-dark);
    border-color: var(--color-border-dark);
  }
}

.link {
  transition: color 300ms ease-in-out, text-decoration-line 300ms ease-in-out;

  &:hover {
    color: var(--color-primary);
    text-decoration: underline;
    cursor: pointer;
  }
}
